* {
  --primary: #7a9e7b;
  --secundary: #85c7c7;
  --tertiary: #f7c7ba;
  --font: #100909;
  --white: #fefefe;
}

body {
  background-color: var(--primary);
  color: var(--font);
  font-family: 'Kaisei HarunoUmi', serif;
}

.container {
  width: 100%;
  max-width: 320px;
  margin: auto;
  border-radius: 40px;
  border: 4px solid var(--font);
}


/* HEADER */
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 20px 12px 20px;
  border-bottom: 2px solid var(--font);
}

.header__row--subtitle {
  padding: 12px 20px;
}

.header__title {
  font-size: 1rem;
  font-weight: 700;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--white);
  border-radius: 50%;
  background-color: var(--font);
  cursor: pointer;
}

.header__subtitle {
  font-family: 'Vidaloka', serif;
  font-size: 0.825rem;
}